extends layout
		
block content
	h1= title
	p Welcome to #{title}
	svg.chart

	button#doit(type="button")
		span Do something!
	
	script(src="//d3js.org/d3.v3.min.js")
	script(src="javascripts/index.js")
