body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
li {
	list-style: none;
	border: thin solid;
}

#d3Container div {
	box-sizing: border-box;
	margin: 5px 0;
	font: 10px sans-serif;
	background-color: steelblue;
	text-align: right;
	padding: 3px;
	color: white;
}