body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
#d3Container div {
	margin: 5px 0;
	font: 10px sans-serif;
	background-color: steelblue;
	text-align: right;
	padding: 3px;
	color: white;
}