#taskManager {
	ul {
		li {
			list-style: none;
			border: thin solid;
			padding: 10px;
			cursor: pointer;
			margin-bottom: 20px;
			&:hover {
				background-color: #efefef;
			}
			&.selected {
				background-color: #dfdfdf;	
			}
		}	
	}
}



